.audio-downloader {
  margin-top: 1rem;
  text-align: center;
  font-family: "Geist Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.audio-downloader a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #141515;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
}

.audio-downloader a:hover {
  background-color: #0560ba;
}

.audio-downloader audio {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  outline: none;
}

.audio-downloader audio::-webkit-media-controls-panel {
  background-color: #333;
  border-radius: 5px;
}

.audio-downloader audio::-webkit-media-controls-current-time-display,
.audio-downloader audio::-webkit-media-controls-time-remaining-display {
  color: #ffffff;
}
