@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    @apply min-h-screen bg-gray-700/50;
  }

  .main-content {
    @apply max-w-full mx-auto px-2 py-8 text-gray-100 min-h-[calc(100vh-64px)] flex flex-col items-center justify-start;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
